<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pets.css">
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1>Pet Information</h1>

    <div id="petInfo">
        <% pets.forEach(pet => { %>
            <% if (!pet.adopter_id || pet.status !== 'disapproved') { %>
            <div class="pet-card">
                <div class="pet-image">
                    <img src="/uploads/<%= pet.photo %>" alt="<%= pet.name %>">
                </div>
                <div class="pet-details">
                    <h3><%= pet.name %></h3>
                    <p>Species: <%= pet.species_id === 1 ? 'Dog' : pet.species_id === 2 ? 'Cat' : 'Other' %></p>
                    <p>Age: <%= pet.age %></p>
                    <p>Gender: <%= pet.gender %></p>
                </div>
                <button class="adopt-button" onclick="adoptPet('<%= pet.pet_id %>')">Adopt</button>

            </div>
            <% } %>
            <% }); %>
    </div>

    <script>
      function adoptPet(petId) {
          // Construct the URL with the pet ID
          console.log(petId);
          const adoptionUrl = `/adoption?petId=${petId}`;
          // Redirect to the adoption page with the pet ID
          window.location.href = adoptionUrl;
      }
  </script>
  </body>
</html>
